body{
    text-align: center;
    margin: 0;
    position:relative;
    font-family: cursive;
}

h1{
    color:#66BFBF;
    margin: 50px auto 0 auto;
    font-family: Sacramento, cursive;
    font-size: 50px; /*16px = 100% = 1em = 1rem*/

}

h2{
    color:#66BFBF;
    font-weight: normal;
    font-family: Montserrate, sans-serif;
    font-size:20px;
}

h3{
    color: #11999E;
    font-weight: normal;
    font-family: Montserrate, sans-serif;
}

p{
    color:#40514E;
}

a{
    color: #11999E;
}

.top-container{
    background-color: #E4F9F5;
    position:relative;
    padding-top:100px;
}

.middle-container{
    padding:50px 0 50px;
}

.btn {
    background:  #11cdd4;
    background-image: -webkit-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top,  #11cdd4, #11999e);
    background-image: -o-linear-gradient(top,  #11cdd4, #11999e);
    background-image: linear-gradient(to bottom,  #11cdd4, #11999e);
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.mountain{
    height: 250px;
    width: 350px;
}
.skill-row{
    line-height:2;
    margin: 100px auto 70px auto;
    text-align: left;
    width:50%;

}

.comp-img{
    border-radius: 50%;
    width: 25%;
    float:left;
    margin-right: 30px;
}

.chil-img{
    width: 25%;
    float:right;
    margin-left: 30px;
}

.top-cloud{
    position:absolute;
    top:50px;
    right:100px;
}

.bottom-cloud{
    position:absolute;
    bottom:210px;
    left:70px;
}

.profile{
    width:50%;
    margin:auto;
    color:#40514E;
}

.contact-me{
    width:50%;
    margin: auto;
}



.bottom-container{
    padding-top: 15px;
    height: 100px;
    margin-bottom:0;
    background-color: #66BFBF;
    
}

.fa {
    font-size: 30px;
    height: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  

.fa:hover {
   
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: -moz-linear-gradient(top, #000000, #000000);
    background-image: -ms-linear-gradient(top, #000000, #000000);
    background-image: -o-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000, #000000);
    text-decoration: none;
}

.fa-linkdin {
    
    background: #3B5998;
    color: white;
}
  

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #D61C4E;
    color:white ;
}


.logo{
    
    margin-top: 15px;
    font-size: 7px;
    color:#EAF6F6;
}

hr{
    margin: 70px auto;
    border-style: none;
    border-top-style: dotted;
    border-width: 3px;
    width:30px;
    color: #A2B5BB;
    
}


